# Google Cloud Credentials
AUTH_GOOGLE_ID=# Google Cloud OAuth client ID
AUTH_GOOGLE_SECRET=# Google Cloud OAuth client secret

# GitHub Credentials
AUTH_GITHUB_ID=# GitHub OAuth app client ID
AUTH_GITHUB_SECRET=# GitHub OAuth app client secret

# NextAuth.js configuration
NEXTAUTH_URL=# Public base URL of the application (e.g., https://your-domain.com)
AUTH_SECRET=# Secret used to sign Auth.js sessions/tokens (Use: "npx auth secret" to generate a secure random string)

# Firebase configuration
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=

FIREBASE_SERVICE_ACCOUNT_KEY= # Base64-encoded JSON string of the Firebase service account key (for server-side use only)